.button-style {
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 60px;
    color: white;
}

.hidden {
    display: none;
}
#Pic{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.padding-bottom {
    padding-bottom: 30px;
}

#Paragraph{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 30px
}

.spacing{
    margin-top: 150px;
}

h1 {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#Lion{
    font-size: 100px;
    text-align: left

    
}
#Content{
    text-align: left;
    
}

p {
    font-size: 100px;
    text-align: none;

} 
.row{
    text-align-last: center
}
body{
    background-image: url("https://hcyip.files.wordpress.com/2010/09/dsc03553.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    bac
    
    
}